
body{
    background-color: #312E2F;
}

.header{
    background-color: #3f3b3c;
    color: white;
    justify-content: space-around;
    padding: 20px;
    
}

.header-imagem{
    width: 200px;
}
.header-lista{
   
    position: absolute;
    width: 935px;
    height: 166px;
    left: 750px;
    top: 110px;
}
.header-lista-item{
    display: inline-block;
    margin: 0 40px;
    font-size: 24px;
}

.texto{
    color: rgb(255, 255, 255);
    font-size: 30px;
    border: solid 6px  #312E2F;
    margin-left: 20px;
    
    padding: 50px;
    background-color: #312E2F;
    
}

.sobreMim{
    background-color: #312E2F;
}

#rodape{
    
    
    background-color: #3f3b3c;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    padding-left: 30px;
    padding: 100px;

}

.informacoes{
    margin-top: 100px;
}